### 04_Evaluacion.ipynb:

El proceso final que demuestra la carga, procesado y ejecución del modelo. Se considera la antesala a poder disponer un modelo productivo.

Previamente, se entrenaron tres modelos de clasificadores supervisados. En este cuaderno, se muestra el preprocesamiento de los datos, el entrenamiento de los modelos y las métricas de evaluación mediante las funciones de la carpeta src.

In [1]:
import sys
sys.path.append("C:/Users/aisat/Desktop/DSPT25_RA/3-DSPT2025-ML/Proy_Final_ML_RA/2.src/")

In [2]:
from preprocessing import load_data, drop_zip_columns, create_train_test_split, balance_data, scale_data
from training_and_evaluation import train_decision_tree, train_random_forest, train_xgboost, trainVoting_Classifier

In [3]:
path_data = "C:/Users/aisat/Desktop/DSPT25_RA/3-DSPT2025-ML/Proy_Final_ML_RA/data/"
path_models = "C:/Users/aisat/Desktop/DSPT25_RA/3-DSPT2025-ML/Proy_Final_ML_RA/3.models/"

- **1. Cargar los datos**

In [4]:
df = load_data(path_data, 'df_processed.csv')

In [5]:
df.head()

,Unnamed: 0,Complaint ID,Day_received,Response_time,Product_num,State_num,Timely_response_bin,Company_response_num,Consumer_disputed_num,Issue_num,Company_num
0,0,1177839,1,0,3,7,1,2,0,1,1940
1,1,1177844,1,0,9,44,1,1,1,4,112
2,2,1177846,1,0,3,40,1,2,0,4,1525
3,3,1177928,1,0,6,5,1,1,0,3,133
4,4,1177930,1,0,2,8,1,1,1,4,1430

- **2. Preprocesado de los datos**

In [6]:
df = drop_zip_columns(df)
df.head()

,Complaint ID,Day_received,Response_time,Product_num,State_num,Timely_response_bin,Company_response_num,Consumer_disputed_num,Issue_num,Company_num
0,1177839,1,0,3,7,1,2,0,1,1940
1,1177844,1,0,9,44,1,1,1,4,112
2,1177846,1,0,3,40,1,2,0,4,1525
3,1177928,1,0,6,5,1,1,0,3,133
4,1177930,1,0,2,8,1,1,1,4,1430

In [7]:
Features = df.drop(columns=['Consumer_disputed_num'])
Target = df['Consumer_disputed_num']

In [8]:
X_train, X_test, y_train, y_test = create_train_test_split(Features, Target, test_size=0.2, random_state=42, shuffle=True)

In [9]:
print('X_train_shape: ',  X_train.shape)
print('y_train_shape: ',  y_train.shape)

print('\nX_test_shape: ',  X_test.shape)
print('y_test_shape: ',  y_test.shape)

X_train_shape:  (22524, 9)
y_train_shape:  (22524,)

X_test_shape:  (5632, 9)
y_test_shape:  (5632,)

In [10]:
X_train_balanced, y_train_balanced = balance_data(X_train, y_train, over_strategy='auto', under_strategy='auto')

In [11]:
X_train_balanced_re, X_test_scal = scale_data(X_train_balanced, X_test)

- **3. Modelos de Machine Learning**

In [12]:
tree_clf = train_decision_tree(X_train_balanced_re, y_train_balanced, X_test_scal, y_test, path_models)

Decision Tree Test Accuracy: 0.6326
              precision    recall  f1-score   support

           0       0.36      0.85      0.51       254
           1       0.22      0.33      0.26       958
           2       0.85      0.69      0.76      4420

    accuracy                           0.63      5632
   macro avg       0.48      0.62      0.51      5632
weighted avg       0.72      0.63      0.66      5632

Precision: 0.4765
Recall: 0.6238

In [13]:
RF_model = train_random_forest(X_train_balanced_re, y_train_balanced, X_test_scal, y_test, path_models)

Random Forest Test Accuracy: 0.6928
              precision    recall  f1-score   support

           0       0.39      0.81      0.52       254
           1       0.23      0.23      0.23       958
           2       0.84      0.79      0.81      4420

    accuracy                           0.69      5632
   macro avg       0.48      0.61      0.52      5632
weighted avg       0.72      0.69      0.70      5632

Precision: 0.4845
Recall: 0.6082

In [14]:
XGBoost_model = train_xgboost(X_train_balanced_re, y_train_balanced, X_test_scal, y_test, path_models)

XGBoost Test Accuracy: 0.7409
              precision    recall  f1-score   support

           0       0.47      0.65      0.54       254
           1       0.27      0.19      0.22       958
           2       0.83      0.87      0.85      4420

    accuracy                           0.74      5632
   macro avg       0.52      0.57      0.54      5632
weighted avg       0.72      0.74      0.73      5632

Precision: 0.5218
Recall: 0.568

In [15]:
Voting_model = trainVoting_Classifier(X_train_balanced_re, y_train_balanced, X_test_scal, y_test, path_models)

Random Forest Test Accuracy: 0.7092
              precision    recall  f1-score   support

           0       0.37      0.90      0.52       254
           1       0.23      0.18      0.20       958
           2       0.84      0.81      0.83      4420

    accuracy                           0.71      5632
   macro avg       0.48      0.63      0.52      5632
weighted avg       0.71      0.71      0.71      5632

Precision: 0.4797
Recall: 0.629
XGBoost Test Accuracy: 0.7429
              precision    recall  f1-score   support

           0       0.48      0.64      0.54       254
           1       0.27      0.19      0.22       958
           2       0.83      0.87      0.85      4420

    accuracy                           0.74      5632
   macro avg       0.53      0.57      0.54      5632
weighted avg       0.72      0.74      0.73      5632

Precision: 0.5254
Recall: 0.5658
Voting Classifier Test Accuracy: 0.7404
              precision    recall  f1-score   support

           0       0.44      0.72      0.55       254
           1       0.26      0.17      0.21       958
           2       0.83      0.87      0.85      4420

    accuracy                           0.74      5632
   macro avg       0.51      0.58      0.53      5632
weighted avg       0.72      0.74      0.73      5632

Precision: 0.5111
Recall: 0.5843